.search-wrapper{
    gap: .25rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    font-size: 2rem;
    color:whitesmoke;
}
h1{
    text-align: center;
    position: relative;
    color:whitesmoke;
}


.search-medicine{
   gap:  .25rem;
   margin: 1rem;
    position:relative;
text-align: center;
font-size: 2rem;
color:whitesmoke
}

input{
    font-size: 1rem;
}

.user-cards{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
}

.card{
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    margin-left: .1rem;
    margin-right: .1rem;
    padding: .2rem;
    margin-bottom: .25rem;
}
.card > .header{
    margin-top: .25rem;
}

.card > .body{
    font-size: .7rem;
    color: rgb(15, 12, 201);
}

.card > .Prescription1{
    font-size: 1rem;
    color: rgb(218, 19, 19);
}

.hide{
    display: none;
}
body{
    margin: 0px;
    height: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-image: linear-gradient(to right top,#d91bbc,#124FEB);
}
